.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.jcrop-circle-demo .jcrop-box {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border: 1px rgba(255, 255, 255, 0.4) solid;
  border-radius: 50%;
  -webkit-box-shadow: 1px 1px 26px #000000;
  -moz-box-shadow: 1px 1px 26px #000000;
  box-shadow: 1px 1px 26px #000000;
  overflow: hidden;
}
.jcrop-circle-demo .jcrop-box:focus {
  outline: none;
}
